:root {
  --bg: #333333;
  --surface: #3b3b3b;
  --primary-white: white;
  --border: #4f4f4f;
  --border-light: #9a9a9a;
  --border-lightest: #7b7b7b;
}

body {
  height: 100vh;
  overflow-y: hidden;
  margin: 0;

  background-color: var(--bg);
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;

  color: var(--primary-white);
}
.App > * {
}
