:root {
  --left: 160px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12px;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formContainer {
  text-align: right;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  flex: 1;
}
.formContainer > * {
  padding-right: 20px;
}

.formBody {
  position: relative;
  margin-left: var(--left);
}

.formCard {
  margin-block: 12px;
  padding: 16px;
  /* From https://css.glass */
  background: var(--surface);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  /* -webkit-backdrop-filter: blur(5px); */
  border: 1px solid var(--border);
  transition: box-shadow 0.15s ease-out;
}
.formCard:hover {
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

a {
  display: inline-block;
  user-select: none;
  color: var(--secondary-white);
  text-decoration: none;
  text-align: center;

  transition: border-color 0.12s ease-out;
}
a:hover {
  color: var(--primary-white);
  border-color: var(--border-lightest);
  box-shadow: var(--shadow);
}
a:active {
  opacity: 0.5;
}

.submitContainer,
.addRowContainer,
.removeRowContainer {
  white-space: nowrap;
  cursor: pointer;
  border-radius: var(--radius);

  margin-left: auto;
  width: max-content;
}

.submitContainer {
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.addRowContainer,
.removeRowContainer {
  background-color: var(--bg);
  border: 1px solid var(--border);
}

.addRowContainer {
  margin-top: 8px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
}
.removeRowContainer {
  border: none;
  border-bottom: 1px solid var(--border);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.submitContainer {
  border: 1px solid var(--border);
  margin-bottom: 12px;

  width: 50px;

  color: var(--primary-white);
  text-decoration: none;
  text-align: center;

  /* From https://css.glass */
  background: var(--surface);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* -webkit-backdrop-filter: blur(5px); */
}

label {
  user-select: none;
  text-transform: lowercase;
  font-weight: 300;
  /* font-size: 16px; */
  padding-top: 14px;
  padding-bottom: 4px;
  color: var(--secondary-white);
}

input {
  /* cursor: text !important; */
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: right;

  padding: 7px;
  font-size: 20px;
  font-weight: 100;
  padding-inline: 8px;
  border-radius: var(--radius);
  color: var(--primary-white);

  background-color: var(--bg);
  outline: none;
  border-bottom: 1px solid var(--border);

  transition: all 0.12s ease-out;
}
input:hover {
  border-bottom-color: var(--border-lightest);
}
input:focus {
  border-bottom-color: var(--border-light);
}

header {
  background-color: var(--surface);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border);
  border-top: 2px solid var(--border-light);
  box-shadow: var(--shadow);
}
h1 {
  font-weight: 300;
  font-size: 25px;
  margin-top: 6px;
  margin-bottom: 1px;
  margin-right: 10px;
  height: 33px;
}

table {
  margin-left: auto;
  table-layout: fixed;
  /* width: 100%; */
}
td input {
  box-sizing: border-box;
  width: 100%;

  text-align: center;
  border-radius: 0;
}

/* round table */
/* top left */
tr:first-child td:first-child input {
  border-top-left-radius: var(--radius);
}
/* bottom right */
/* tr:last-child td:nth-last-child(2) input {
  border-bottom-right-radius: var(--radius);
} */
/* top right */
/* tr:nth-last-child(2) td:nth-last-child(2) input {
  border-top-right-radius: var(--radius);
} */
/* bottom left */
tr:last-child td:first-child input {
  border-bottom-left-radius: var(--radius);
}

tr td:last-child:empty {
  display: none;
}

tr td:last-child:not(:empty) {
}
thead {
  text-align: center;
}
th {
  padding-bottom: 5px;
}
